.wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 16px;
  z-index: 999;
}

.show {
  opacity: 1;
}

.toastsPopup {
  animation-fill-mode: forwards;
  animation-name: appearence;
  animation-duration: 5s;
}

.hideAfterHover {
  animation-fill-mode: forwards;
  animation-name: hiding;
  animation-duration: 2s;
}

@keyframes appearence {
  0% {
    opacity: 0;
  }
  20%,
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hiding {
  0% {
    opacity: 1;
  }
  30%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
